/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 12, 2015, 6:36:11 PM
    Author     : irene
*/
article, aside, figure, footer, header, hgroup, menu,
nav, section{ display: block }

/* oddball colors are for debugging - can be changed to blend with the
  background later. Don't use // comments between definitions, it mucks them up */
body {
  margin: 0 auto;
  background-color:  #ebf1fd;
}
header {
}

th {
    border:2px solid black;
    background-color:  #638456;
    color: white;
}
td {
    margin: 0;
    padding: 0;
    text-align: left;
}
/* classes -can be used more than once */
.d1 {
    margin: 1em;
}
.d2{
    text-align: center;
    min-height: 20em;
}
.d3 {
    padding: 1em;
    min-height: 3em;
    text-align: center;
}
.d4 {
    text-align: left;
    min-height: 6em;
}
.d5 {
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-height: 8em;
    text-align: left;
}
.tbl {
  border: 2px solid black;
  background-color: white;
}
/* table cell with space, carry, or decimal point */
.t2 {
  text-align: center;
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  height: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
  background-color:  #ebf1fd;
  padding: 0px;
}
/* table cell with operand or answer digit */
.t1{
  text-align: center;
  width: 1.5em;
  min-width: 1.5em;
  max-width: 1.5em;
  height: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
  background-color:  #ebf1fd;
  padding: 0px;
}
/* carry boxes */
.c2 {
    width: 0.7em;
    min-width: 0.7em;
    max-width: 0.7em;
    background-color: #bcbebe;
    text-align: center;
    border:1px solid black;
    margin-left: 0px;
    margin-right: 0px;
    font: inherit;
}
/* blanks that may become 0 */
.b1 {
  width: 1.1em;
  min-width: 1.1em;
  max-width: 1.1em;
  margin-left: 0px;
  margin-right: 0px;
  border:1px;
  background-color:  #ebf1fd;;
  color:  #ebf1fd;;
  text-align: center;
  font: inherit;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
/* decimal point */
.dp{
    width: 0.7em;
    height: 1.7em;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    color: #F5F8FF;
}
/* answer boxes */
.a1 {
  width: 1.1em;
  min-width: 1.1em;
  max-width: 1.1em;
  background-color: #bcbebe;
  color: black; 
  text-align: center;
  border: 1px solid black;
  font: inherit;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
.shortbox{
    width: 5em;
    text-align: center;
    color: red;
    font: inherit;
}
.blackbox{
    width: 5em;
    text-align: center;
    color: black;
    background-color: white;
    border-top-color: #638456;
    border-left-color: #638456;
    border-bottom-color: #bcbebe;
    border-right-color: #bcbebe;
    font: inherit;
}

/* bar under operands */
.th-id1{
    background-color: #638456;
}
.DragBox {
    color : #ebf1fd;
    position : fixed;
    padding: 0px;
    margin: 0px;
}
.ndx{
    margin-left: 5%;
}
#th-id2 {
    background-color: #ebf1fd;
}
#msg {
    margin-left: 1em;
    color: red;
}
#statusBox{
    background-color: tan;
    color: black;
}
