/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2017, 7:35:10 PM
    Author     : frieda
*/
body{
    background-color: #d2edf9;
    /* width: 1080px;
    height:720px; */
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
input{
    width: 4em;
    /* height: 1.3em; */
    border: 0px;
    margin-right: 0px;    
    text-align: right;
    color: #11397a;
    background-color: #d2edf9;
}
input:focus { outline: 3px solid #11397a; }
table{
    padding: 0px;
    border: 0px;
}
td{
    /* min-height: 1.3em; */
    border: 2px solid;
    border-color: #d2edf9;
    padding-right: 0px;
    /* width: 4em; */
    /* height: 1.4em; */
    height: 20px;
    /* width: 4em; */
}
th{
    width: 28em;
}
.blank{
    width: 2em;
    height: 1.4em;
    height: 20px;
}

.dragBox{
    margin: 0px;
    position: absolute;
}
.ghost{
    margin: 0px;
}
.op{
    width: 4em;
    height: 1.4em;
    height: 20px;
}
.section{
    width: 10em;
    position: absolute;
    color: #d2edf9;
}
.shortbox{
    width: 5em;
    text-align: center;
    color: red;
    font: inherit;
}
.stillBox{
    margin: 0px;
    position: absolute;
}
#draggables{
    /* background-color: pink; */
    position: absolute;
}
#blankheader{
    color: #d2edf9;
}
#blankheader2{
    color: #d2edf9;
    padding-bottom: 1em;
}
#circles{
    position: fixed;
    /* position: relative; */
    text-align: left;
    color: white;
}
#ghosts{
    position: absolute;
    color: #d2edf9;
}
#firstGhost{
    border-left-color: #11397a;
    border-bottom-color: #11397a;
}
#firstOp{
    border-left-color: #11397a;
    border-bottom-color: #11397a;
}
#home{
    position: absolute;
}
#instr0{
    color: #d2edf9;
}
#instr1{
    color: #11397a;
}
#index{
    position: absolute;
}
#instr2{
    color: #d2edf9;
    /* padding-bottom: 1em; */
}
#statusTable{
    position: absolute;
    top: 30%;
    left: 10%;
}
