/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2015, 1:57:20 PM
    Author     : irene
*/

article, aside, figure, footer, header, hgroup, menu,
nav, section{ display: block }

/* oddball colors are for debugging - can be changed to blend with the
  background later */
body {
  //width: 50%;
  margin: 0 auto;
  //text-align: left;
  background-color: #FAF3E4;
  //columns: 2 auto;
}
header {
  background-color: #FFBBFF;
}
th {
  border:2px solid black;
  //text-align: center;
}
td {
    margin: 0;
    padding: 0;
}
button {
    font: inherit;
    background-color: #E6EAE8;
    border-bottom-color: #2E7FA7;
    border-right-color: #2E7FA7;
    border-top-color: #D6DAD8;
    border-left-color: #D6DAD8
}
/* classes -can be used more than once */
.d1 {
    -webkit-column-count: 2;
    -webkit-column-gap: 3em;
    
    -moz-column-count:2;
    -moz-column-gap: 3em;
    
    column-count: 2;
    column-gap: 3em;
}
.d2 {
    //margin-top: 7em;
    padding-top: 5em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 6em;
    text-align: left;
}
.d3{
    //min-height: 11em;
}
.d4 {
    padding-top: 1em;
    padding-bottom: 11em;
}
.tbl {
  border: 2px solid black;
  margin: .02em;
  //min-width: 19em;
  //max-width: 19em;
/*  width: 192px; */
}
/* table cell with space, carry, or decimal point */
.t2 {
  text-align: center;
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  padding: 0px;
}
/* table cell with operand or answer digit */
.t1{
  text-align: center;
  width: 1.5em;
  min-width: 1.5em;
  max-width: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
  border: 0px;
  padding: 0px;
}
/* carry boxes */
.c2 {
  width: 0.7em;
  min-width: 0.7em;
  max-width: 0.7em;
  //background-color: black;
  background-color: #969C82;
  //background-color: #ccccE8;
  text-align: center;
  border:1px solid black;
  margin-left: 0px;
  margin-right: 0px;
  font: inherit;
}
/* blanks between carry boxes */
.b1 {
  width: 1.2em;
  min-width: 1.2em;
  max-width: 1.2em;
  margin-left: 0px;
  margin-right: 0px;
  border:1px;
  //background-color: #f7eaa7; 
  //color: #e7da97; 
  //border:1px solid brown;
}
/* height of carry row */
.r1 {
  //height: 1.2em;
}
/* spaces between final answer with potential decimal point*/
.p2 {
  width: 0.7em;
  min-width: 0.7em;
  max-height: 0.7em;
  //background-color: #cf0f0f; 
  //color: #c0a000; 
  height: 1.7em;
  text-align: center;
  border: 1px;
  margin-left: 0px;
  margin-right: 0px;
  //border:1px solid black
}
/* decimal point */
.dp{
    width: 0.7em;
    height: 1.7em;
    //max-height: 4px;
    text-align: center;
    //background-color: orange;
    margin-left: 0px;
    margin-right: 0px;
    color: #FAF3E4;
    //border: 1px solid black;
    //border-radius: 4px;
}
/* spaces between intermediate answers and between operands */
.s2 {
  width: 0.9em;
  min-width: 0.9em;
  max-width: 0.9em;
  text-align: center;
  border:1px;
  margin-left: 0px;
  margin-right: 0px;
  //background-color: #cfaf6f; 
  //color: #c0a060; 
}
/* operands */
.n1 {
  width: 1.2em;
  min-width: 1.2em;
  max-width: 1.2em;
  //background-color: #e7caa7; 
  color: black; 
  text-align: center;
  border:1px;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
/* answer boxes */
.a1 {
  width: 1.1em;
  min-width: 1.1em;
  max-width: 1.1em;
  //background-color: black; 
  background-color: #969C82;
  color: black; 
  text-align: center;
  border: 1px solid black;
  font: inherit;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
.shortbox{
    width: 5em;
    text-align: center;
    color: red;
    font: inherit;
}
.blackbox{
    width: 5em;
    text-align: center;
    color: black;
    background-color: #E6EAE8;
    border-top-color: #2E7FA7;
    border-left-color: #2E7FA7;
    border-bottom-color: #D6DAD8;
    border-right-color: #D6DAD8;
    font: inherit;
}
.msg {
    text-align: center;
    margin-left: 1em;
}
.th-id1 {
  background-color: #2E7FA7;
}
#decRmdr{
    color: #FAF3E4;
    margin-left: 1em;
}
#th-id2 {
  background-color: #FAF3E4;
  //text-align: center;
  columns: 2 auto;
}






