/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 4, 2015, 1:57:20 PM
    Author     : irene
*/

article, aside, figure, footer, header, hgroup, menu,
nav, section{ display: block }

/* oddball colors are for debugging - can be changed to blend with the
  background later */
body {
  //width: 50%;
  margin: 0 auto;
  background-color: #f5f2d4;
  //text-align: left;
  //columns: 2 auto;
}
header {
  background-color: #FFBBFF;
}
th {
  border:2px solid black;
  //background-color: #f5f2d4;
  background-color: #e5efea;
  //text-align: center;
}
td {
    margin: 0;
    padding: 0;
}
button {
    font: inherit;
    background-color: #E6EAE8;
    border-bottom-color: #2E7FA7;
    border-right-color: #2E7FA7;
    border-top-color: #D6DAD8;
    border-left-color: #D6DAD8
}
/* classes -can be used more than once */
.d1 {
    margin: 2em;
}
.d2{
    //padding-top: 1em;
    //padding-bottom: 10em;
    text-align: center;
    min-height: 25em;
}
.d3 {
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    //min-height: 3em;
}
.d4 {
    //padding-top: 1em;
    //padding-bottom: 1em;
    text-align: left;
    min-height: 6em;
}
.d5 {
    //margin-top: 7em;
    //padding-top: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px;
    min-height: 8em;
    text-align: left;
}
.tbl {
  border: 2px solid black;
  margin-top: 0.2em;
  margin-left: 10%;
  background-color: #FFFBEC;
  //min-width: 19em;
  //max-width: 19em;
/*  width: 192px; */
}
/* table cell with space, carry, or decimal point */
.t2 {
  text-align: center;
  width: 1em;
  min-width: 1em;
  max-width: 1em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f5f2d4;
  padding: 0px;
}
/* table cell with operand or answer digit */
.t1{
  text-align: center;
  width: 1.5em;
  min-width: 1.5em;
  max-width: 1.5em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f5f2d4;
  padding: 0px;
}
/* carry boxes */
.c2 {
  width: 0.7em;
  min-width: 0.7em;
  max-width: 0.7em;
  //background-color: black;
  background-color: #f5f2d4;
  //background-color: #ccccE8;
  text-align: center;
  border:1px solid #f5f2d4;
  margin-left: 0px;
  margin-right: 0px;
  font: inherit;
}
/* blanks that may become 0 */
.b1 {
  width: 1.1em;
  min-width: 1.1em;
  max-width: 1.1em;
  margin-left: 0px;
  margin-right: 0px;
  border:1px;
  background-color: #f5f2d4;
  color: #f5f2d4;
  text-align: center;
  border: 1px;
  font: inherit;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
/* decimal point */
.dp{
    width: 0.7em;
    height: 1.7em;
    //max-height: 4px;
    text-align: center;
    //background-color: orange;
    margin-left: 0px;
    margin-right: 0px;
    color: #f5f2d4;
    //border: 1px solid black;
    //border-radius: 4px;
}
/* answer boxes */
.a1 {
  width: 1.1em;
  min-width: 1.1em;
  max-width: 1.1em;
  //background-color: black; 
  background-color: #969C82;
  color: black; 
  text-align: center;
  border: 1px solid black;
  font: inherit;
  height: 1.7em;
  margin-left: 0px;
  margin-right: 0px;
}
.shortbox{
    width: 5em;
    text-align: center;
    color: red;
    font: inherit;
}
.blackbox{
    width: 5em;
    text-align: center;
    color: black;
    //background-color: #E6EAE8;
    background-color: #f0f4f9;
    border-top-color: #2E7FA7;
    border-left-color: #2E7FA7;
    border-bottom-color: #D6DAD8;
    border-right-color: #D6DAD8;
    font: inherit;
}
.th-id1 {
  background-color: #2E7FA7;
}
#decRmdr{
    color: #f5f2d4;
    margin-left: 1em;
}
#msg {
    text-align: center;
    margin-left: 1em;
    color: red;
}
#th-id2 {
  background-color: #f5f2d4;
  //text-align: center;
}
#ndx{
    margin-left: 10%;
}






